@font-face {
    font-family: 'Clip';
    src: local('Clip'), url(./fonts/clip.regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Caravan';
    src: local('Caravan'), url(./fonts/Caravan.otf) format('opentype');
}

body {
    background: url(./images/bricks_background.jpeg);
    padding-top: 60px;
    font-family: 'Open Sans';
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.carousel {
    box-shadow: -1px 0px 20px 0px #000;
}
