/* Provide sufficient contrast against white background */
@font-face {
    font-family: 'Clip';
    src: local('Clip'), url(./fonts/clip.regular.ttf) format('truetype');
}

body {
    background: black;
    padding-top: 60px;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
